<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login IMSS</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    
    <h1>Iniciar sesion</h1>

    <form id="login-form" action="/login" method="post">
        <input type="text" id="username" name="username" placeholder="Nombre de usuario" required />
        <input type="password" id="password" name="password" placeholder="Contrasena" required />
        <button type="submit">Login</button>
    </form>

</body>
</html>